/*complex.css*/
@charset "UTF-8";

html {
    height: 100%;
}

body {
    background-color: rgb(255,255,255);
    height: 100%;
}

/*Font-Style*/
a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:"Helvetica Neue", "Segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Arial", "sans-serif";
    line-height: 1.5;
    margin: 0;
}

/*Header*/
header {
    background-color: rgb(242,238,231);
    height: 100px;
}

h1{
    color: rgb(87,81,86);
    font-family: "Hannotate SC";
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.2em;
    margin-left: 50px;
    position: absolute;
    top: 40px;
    left: 20px;
}
/*==========*/
/*Brainstorming*/
#brainstorming {
    border-bottom: 1px solid #eee;
    margin: 30px 0 40px 60px;
}

#brainstorming h2 {
    color: #333;
    font-family: "Hannotate SC";
    float: left;
    letter-spacing: 0.1em;
    padding-left: 10px;
}

.time-limit {
    margin-left: 150px;
    margin-bottom: 30px; 
}

.time-limit p{
    font-family: "Hannotate SC";
    font-size: 30px;
}
/*==========*/
/*Post-area*/
.post-area {
    margin-bottom: 50px;
    clear: both;
}

.post-area:after {
    content: '';
    display: block;
    clear: both;
}

.post-it {
    /*border: 1px solid rgb(255,255,255);*/
    float: left;
    margin-left: 10px;
    height: 10em;
    width: 10em;
    position: relative;
}

/*貼ってる風にする*/
.post-it:before {
    content: '';
    background-color: #eee;
    border: 1px solid #eee;
    opacity: 0.5;
    height: 20px;
    width: 60px;
    position: absolute;
    top: 0;
    left:30%;
    margin-top: -10px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.post-it:after {
    content: "";
    background-color: #777;
    box-shadow: 0 15px 10px #777;
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.post-it p {
    color: #333;
    font-family: "Hannotate SC";
    font-size: 14px;
    letter-spacing: 0.1em;
    height: 0;
    /*opacity: 0;*/
    padding: 10px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.post-it:hover > p {
    height: 100%;
    opacity: 1;
    padding: 10px;
}
/*==========*/
/*User style*/
#user-1 .post-it {
    background-color: rgb(255,255,204);
}

#user-2 .post-it {
    background-color: rgb(255,204,204);
}

#user-3 .post-it {
    background-color: rgb(204,255,255);
}

#user-4 .post-it {
    background-color: rgb(204,255,204);
}

#user-5 .post-it {
    background-color: rgb(204,204,255);
}
/*==========*/

/*Transform*/
.collect {
    margin: 0 -40px;
    position: relative;
    -moz-transform: perspective(400px) rotateY(45deg);
    -webkit-transform: perspective(400px) rotateY(45deg);
    -ms-transform: perspective(400px) rotateY(45deg);
    -o-transform: perspective(400px) rotateY(45deg);
    transform: perspective(400px) rotateY(45deg);
    -webkit-transition: .5s liner;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
}

/*.collect:hover {
    margin: 0 -40px;
    position: relative;
    -moz-transform: perspective(400px) translate3D(10px,0,10px);
    -webkit-transform: perspective(400px) translate3D(10px,0,10px);
    -ms-transform: perspective(400px) translate3D(10px,0,10px);
    -o-transform: perspective(400px) translate3D(10px,0,10px);
    transform: perspective(400px) translate3D(10px,0,10px);
    z-index: 2;
}*/

.top {
    margin-left: 0;
}
/*==========*/
/*input-area*/
#posting {
    margin-left: 60px;
}

label {
    display: block;
    font-family: "Hannotate SC";
    font-size: 1.2em;
}

.post-form {
    border: 1px solid #adadad;
    border-radius: 5px;
    height: 30px;
    width: 50em;
    padding: 5px;
    -webkit-transition: .25s liner;
    -moz-transition: .25s linear;
    -ms-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}

.post-form:focus {
    background-color: rgb(204,255,255);
    border: 1px solid #adadad;
    border-radius: 5px;
    outline: 0;
}

.post-btn {
    color: #333;
    background-color: transparent;
    border: 1px solid #adadad;
    border-radius: 5px;
    letter-spacing: 0.1em;
    height: 30px;
    width: 80px;
    margin-left: 20px;
    -webkit-transition: .25s liner;
    -moz-transition: .25s linear;
    -ms-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}

.post-btn:hover {
    background-color: rgb(242,238,231);
}
/*==========*/
/*Footer*/
footer {
    background-color: rgb(242,238,231);
    margin-top: 50px;
    height: 100px;
}

footer p {
    background-color: rgb(242,238,231);
    color: #333;
    font-family: "Hannotate SC";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.1em;
    padding: 42px 0 0 60px;
/*==========*/